@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

.container-fluid{
	color: #9a2828;
	background-image: url(images/back-fon_on_reg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: rgba(0,0,0,0.2);
	font-family: 'FontAwesome', sans-serif;
	margin-top: 50px;
}

.container-fluid h2 {
	font-size: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	color: #9a2828;
	
}
.field{
	width: 300px;
	margin-left: 30px;
	text-align: left;
}
.actions {
	width: 100px;
	margin-left: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
 .actions .button {
 	display: inline-block;
 	background-color: white;
	 border-radius: 7px;
	 font-family: 'FontAwesome', sans-serif;
	 font-size: 15px;
	 color:white;
	 margin-left: 15px; 
	
}